table.tableContent.bgBody(width='100%', border='0', cellspacing='0', cellpadding='0', align='center', style='font-family: helvetica, sans-serif;background: #F6F6F6;')
  tbody
    tr
      td(height='25', bgcolor='#43474A', colspan='3')
    tr
      td
        table(width='100%', border='0', cellspacing='0', cellpadding='0')
          tbody
            tr
              td.spechide(valign='top')
                table(width='100%', border='0', cellspacing='0', cellpadding='0')
                  tbody
                    tr
                      td(height='130', bgcolor='#43474A')  
                    tr
                      td  
              td(valign='top', width='600')
                table.MainContainer(width='600', border='0', cellspacing='0', cellpadding='0', align='center', bgcolor='#ffffff')
                  tbody
                    tr
                      td.movableContentContainer
                        .movableContent(style='border: 0px;padding-top: 0px;position: relative;margin: 0;')
                          table(width='100%', border='0', cellspacing='0', cellpadding='0', align='center', valign='top')
                            tr
                              td(bgcolor='#43474A', valign='top')
                                table(width='100%', border='0', cellspacing='0', cellpadding='0', align='center', valign='top')
                                  tr
                                    td(align='left', valign='middle')
                                      .contentEditableContainer.contentImageEditable(style='margin: 0;')
                                        .contentEditable(style='margin: 0;')
                                          img(src='rfm.org.za/images/logo.png', alt='Compagnie logo', data-default='placeholder', data-max-width='300', width='116', height='22', style='border: 0 !important;display: block !important;outline: none !important;')
                                    td(align='right', valign='top')
                                      .contentEditableContainer.contentTextEditable(style='display: inline-block;margin: 0;')
                                        .contentEditable(style='margin: 0;')
                                          a(target='_blank', href='[SHOWEMAIL]', style='color:#A8B0B6;font-size:13px;text-decoration:none;') If you have trouble viewing this email, click here.
                                    td(width='18', align='right', valign='top')
                                      .contentEditableContainer.contentImageEditable(style='display: inline-block;margin: 0;')
                                        .contentEditable(style='margin: 0;')
                                          a(target='_blank', href='[SHOWEMAIL]')
                                            img(src='rfm.org.za/images/openBrowser.png', alt='open in browser image', data-default='placeholder', width='15', height='15', style='padding-left: 10px;border: 0 !important;display: block !important;outline: none !important;')
                        .movableContent(style='border: 0px;padding-top: 0px;position: relative;margin: 0;')
                          table(width='100%', border='0', cellspacing='0', cellpadding='0', align='center', valign='top')
                            tr
                              td(height='25', bgcolor='#43474A')
                            tr
                              td(height='5', bgcolor='#DA5454')
                            tr
                              td.bgItem(height='40', style='background: #ffffff;')
                            tr
                              td
                                table.bgItem(width='100%', border='0', cellspacing='0', cellpadding='0', align='center', valign='top', style='background: #ffffff;')
                                  tr
                                    td(width='70')
                                    td(align='center', width='530')
                                      .contentEditableContainer.contentTextEditable(style='margin: 0;')
                                        .contentEditable(style='font-size: 32px;color: #555555;font-weight: normal;margin: 0;')
                                          h2(style='font-size: 32px;margin: 0;') Who we are
                                    td(width='70')
                                  tr
                                    td(colspan='3', height='22')
                                  tr
                                    td(width='70')
                                    td(align='center', width='530')
                                      .contentEditableContainer.contentTextEditable(style='margin: 0;')
                                        .contentEditable(style='font-size: 13px;color: #99A1A6;line-height: 19px;margin: 0;')
                                          p(style='margin: 0;')
                                            | Give information about your lifestyle, philosophy or what the impact you’re trying to make is.
                                    td(width='70')
                                  tr
                                    td(colspan='3', height='45')
                        .movableContent(style='border: 0px; padding-top: 0px; position: relative;')
                          table(width='100%', border='0', cellspacing='0', cellpadding='0', align='center', valign='top')
                            tbody
                              tr
                                td(height='10', bgcolor='#DA5454')
                              tr
                                td
                                  table(width='100%', border='0', cellspacing='0', cellpadding='0', align='center', valign='top', bgcolor='#DA5454')
                                    tbody
                                      tr
                                        td(width='25')
                                        td(width='475', valign='middle')
                                          .contentEditableContainer.contentTextEditable
                                            .contentEditable(style='font-family:Georgia;font-style:italic;color:#0F4666;font-size:15px;line-height:19px;')
                                              p(style='color:#0F4666;') Stay in Touch!
                                        td(width='45', valign='top')
                                          .contentEditableContainer.contentFacebookEditable
                                            .contentEditable
                                              img(src='rfm.org.za/images/facebook.png', alt='facebook', data-default='placeholder', data-customicon='true', data-max-width='45', width='45', height='45')
                                        td(width='10')
                                        td(width='45', valign='top')
                                          .contentEditableContainer.contentTwitterEditable
                                            .contentEditable
                                              img(src='rfm.org.za/images/twitter.png', alt='Twitter', data-default='placeholder', data-customicon='true', data-max-width='45', width='45', height='45')
                                        td(width='10')
                              tr
                                td(height='10', bgcolor='#DA5454')
              td.spechide(valign='top')
                table(width='100%', border='0', cellspacing='0', cellpadding='0')
                  tbody
                    tr
                      td(height='130', bgcolor='#43474A')  
                    tr
                      td  
